<h1>Assignments</h1>

<table>
    <tr>
      <th>Name </th>
      <th>Created At </th>
      <th>Updated At </th>
      <th>Actions </th>
    </tr>

    <% if @assignments %>
      <%= render @assignments %>
    <% end %>

</table>
